= render "shared/header"

.container.top_container
  .row.voffset10
    .col-md-12.col-sm-12
      %h1.text-left exif情報を設定しましょう
  .row.voffset10
    .col-md-4.col-sm-12.voffset10
      #preview
        = image_tag @picture.image, style: "width: 100%"
    .col-md-8.col-sm-12.voffset10
      = form_for [@picture, @exif] do |f|

        .panel.panel-default
          .panel-heading
            exif情報の公開設定と編集を行いましょう
          .panel-body
            %p 撮影日やGPS情報は個人情報の漏洩に繋がる恐れがあります。心配な方は、例えば「撮影日は日と時間は削除して年と月だけ表示する」、といった処理を施しましょう。
          %table.table
            %thead
              %tr
                %th.col-md-3 exif種類
                %th.col-md-2.text-center 公開？
                %th.col-md-7 取得したexif情報
            %tbody
              %tr
                %td 撮影日
                %td.text-center
                  %input{type: "checkbox", value: "", id: "check_dataTime"}
                %td
                  = f.text_field :dataTime, vale: @exif.dataTime, placeholder: "空です", class: "col-md-12", id: "text_dataTime"
              %tr
                %td カメラメーカー
                %td.text-center
                  %input{type: "checkbox", value: ""}
                %td
                  = f.text_field :make, vale: @exif.make, placeholder: "空です", class: "col-md-12"
              %tr
                %td カメラモデル
                %td.text-center
                  %input{type: "checkbox", value: ""}
                %td
                  = f.text_field :cameraModel, vale: @exif.cameraModel, placeholder: "空です", class: "col-md-12"
              %tr
                %td レンズ
                %td.text-center
                  %input{type: "checkbox", value: ""}
                %td
                  = f.text_field :lensType, vale: @exif.lensType, placeholder: "空です", class: "col-md-12"
              %tr
                %td f値(絞り)
                %td.text-center
                  %input{type: "checkbox", value: ""}
                %td
                  = f.text_field :fNumber, vale: @exif.fNumber, placeholder: "空です", class: "col-md-12"
              %tr
                %td ホワイトバランス
                %td.text-center
                  %input{type: "checkbox", value: ""}
                %td
                  = f.text_field :whiteBalance, vale: @exif.whiteBalance, placeholder: "空です", class: "col-md-12"
              %tr
                %td カメラの向き
                %td.text-center
                  %input{type: "checkbox", value: ""}
                %td
                  = f.text_field :orientation, vale: @exif.orientation, placeholder: "空です", class: "col-md-12"
              %tr
                %td ファイルタイプ
                %td.text-center
                  %input{type: "checkbox", value: ""}
                %td
                  = f.text_field :fileType, vale: @exif.fileType, placeholder: "空です", class: "col-md-12"
              %tr
                %td ISO
                %td.text-center
                  %input{type: "checkbox", value: ""}
                %td
                  = f.text_field :ISO, vale: @exif.ISO, placeholder: "空です", class: "col-md-12"
              %tr
                %td 焦点距離
                %td.text-center
                  %input{type: "checkbox", value: ""}
                %td
                  = f.text_field :focalLength, vale: @exif.focalLength, placeholder: "空です", class: "col-md-12"
              %tr
                %td 露光補正
                %td.text-center
                  %input{type: "checkbox", value: ""}
                %td
                  = f.text_field :exposureBias, vale: @exif.exposureBias, placeholder: "空です", class: "col-md-12"
              %tr
                %td シャッタースピード
                %td.text-center
                  %input{type: "checkbox", value: ""}
                %td
                  = f.text_field :exposureTime, vale: @exif.exposureTime, placeholder: "空です", class: "col-md-12"
              %tr
                %td 被写体までの距離
                %td.text-center
                  %input{type: "checkbox", value: ""}
                %td
                  = f.text_field :focusDistance, vale: @exif.focusDistance, placeholder: "空です", class: "col-md-12"
              %tr
                %td フラッシュ
                %td.text-center
                  %input{type: "checkbox", value: ""}
                %td
                  = f.text_field :flash, vale: @exif.flash, placeholder: "空です", class: "col-md-12"
              %tr
                %td GPS緯度
                %td.text-center
                  %input{type: "checkbox", value: ""}
                %td
                  = f.text_field :GPSLatitude, vale: @exif.GPSLatitude, placeholder: "空です", class: "col-md-12"
              %tr
                %td GPS経度
                %td.text-center
                  %input{type: "checkbox", value: ""}
                %td
                  = f.text_field :GPSLongitude, vale: @exif.GPSLongitude, placeholder: "空です", class: "col-md-12"



        %p
          ※ 写真をアップロードすると写真のexif情報も保存されますが、初期段階ではexif情報は全て非公開になっています。アップロード完了後にexif情報の公開設定や変更等を行えます。

        %span{class: "input-group-btn"}
          .row.voffset10
            .col-sm-12
              %button.btn.btn-primary.btn-lg.btn-block{:type => "submit"} 写真をアップロード


        .row.voffset10
          .col-sm-12.col-sm-4
            %button.btn.btn-warning.btn-block.btn-lg{type: "button", href: root_path, class: "center-block"} トップへ

