.container
  .row
    .col-md-6.col-md-offset-3
      %h2{class: "text-center"} ユーザー登録
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = devise_error_messages!
        .voffset30
        .row
          .col-md-12.form-horizontal
            .form-group
              .col-md-3.control-label
                ユーザー名
              .col-md-9
                = f.text_field :nickname, autofocus: true, autocomplete: "nickname", class: "form-control", placeholder: "なまえ　名前　Name"
          .col-md-12.form-horizontal
            .form-group
              .col-md-3.control-label
                メールアドレス
              .col-md-9
                = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "メールアドレス"
          .col-md-12.form-horizontal
            .form-group
              .col-md-3.control-label
                パスワード
                -# - if @minimum_password_length
                -#   %em
                -#     (#{@minimum_password_length}文字以内)
              .col-md-9
                = f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "パスワード（#{@minimum_password_length}文字以内）"
          .col-md-12.form-horizontal
            .form-group
              .col-md-3.control-label
                パスワード確認
              .col-md-9
                = f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "再度パスワードを入力"
          .col-md-12.form-horizontal
            .form-group
              .col-md-3.control-label
                自己紹介
              .col-md-9
                = f.text_area :profile, autofocus: true, autocomplete: "profile", class: "form-control", placeholder: "140文字以内で書きましょう", rows: 10, style: "resize: none"
          .col-md-12.form-horizontal
            .form-group
              .col-md-3.control-label
                プロフィール画像
              .col-md-9
                = f.file_field :prof_img, id: "lefile", style: "display: none"
                %span{class: "input-group-btn"}
                  .row
                    .col-sm-12
                      %button{type: "button",
                              class: "btn btn-default btn-md btn-block",
                              onclick: "$('input[id=lefile]').click();"} 画像を選択

          %button.btn.btn-primary.btn-lg.btn-block.voffset10{type: "submit"} ユーザー登録
          .text-center.voffset30
            = render "devise/shared/links"
