.container.top_container

  .row.voffset10
    .col-md-12.col-sm-12
      .row
        %h1.text-left 画像を新規投稿
    .col-md-4.voffset30
      .row
        = form_for @picture do |f|


          - if @picture.errors.any?
            #error_explanation
              %h2
                = pluralize(@picutre.errors.count, "error")
                prohibited this picture from being saved:
              %ul
                - @picture.errors.full_messages.each do |message|
                  %li= message


          = f.file_field :image, id: "lefile", style: "display: none"
          %span{class: "input-group-btn"}
            .row
              .col-sm-6
                %button{type: "button",
                        class: "btn btn-default btn-lg btn-block",
                        onclick: "$('input[id=lefile]').click();"} 画像を選択
              .col-sm-6
                %button.btn.btn-primary.btn-lg.btn-block{:type => "submit"} exif情報を取得

        .row.voffset10
          .col-sm-12.col-sm-4
            %ul#picture-tags

        .row.voffset10
          .col-sm-12.col-sm-4
            %button.btn.btn-warning.btn-block.btn-lg{type: "button", href: root_path, class: "center-block"} トップへ

    .col-sm-12.col-md-8.voffset30
      .thumbnail.text-center
        - if request.path_info == new_picture_path
          #preview
            %h1 ここに画像が表示されます
        - elsif request.path_info == edit_picture_path(picture)
          #preview
            = image_tag picture.image
            %h1 ここに画像が表示されます
    -# .col-sm-12.col-md-5
    -#   .thumbnail
    -#     %p#exif exif情報
