= form_for @picture do |f|
  - if @picture.errors.any?
    #error_explanation
      %h2
        = pluralize(@picutre.errors.count, "error")
        prohibited this picture from being saved:
      %ul
        - @picture.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :image
    = f.text_field :image, id: :picture_image
  .actions
    = f.submit



-# = form_with(model: picture, local: true) do |form|
-#   - if picture.errors.any?
-#     #error_explanation
-#       %h2
-#         = pluralize(picture.errors.count, "error")
-#         prohibited this picture from being saved:
-#       %ul
-#         - picture.errors.full_messages.each do |message|
-#           %li= message
-#   .field
-#     = form.label :image
-#     = form.text_field :image, id: :picture_image
-#   .actions
-#     = form.submit
