.col-sm-12.col-md-4
  .thumbnail{style: "height: 385px",}
    = link_to picture_path(picture) do
      = image_tag picture.image

    .caption
      %p
        Thumbnail label
      #like-btn
        = render "likes/like", picture: picture

    .caption
      - if picture.tags.present?
        - picture.tags.each do |tag|
          %span.label.label-warning
            = "#{tag.name} (#{tag.taggings_count})"

