.col-sm-12.col-md-4
  .thumbnail{style: "height: 385px",}
    = link_to picture_path(picture) do
      = image_tag picture.image
    .caption

      %p Thumbnail label
      - if Like.find_by(user_id: current_user, picture_id: picture.id)
        = link_to "/likes/#{picture.id}/destroy", method: :post, class: "like" do
          %span{class: "glyphicon glyphicon-heart like"}
      - else
        = link_to "/likes/#{picture.id}/create", method: :post, class: "unlike" do
          %span{class: "glyphicon glyphicon-heart-empty unlike"}
      %span{style: "font-size: 22px; line-height: 22px"}
        = picture.likes.count
    .caption
      - if picture.tags.present?
        - picture.tags.each do |tag|
          %span.label.label-warning
            = "#{tag.name} (#{tag.taggings_count})"


