.col-sm-12.col-md-4
  .thumbnail
    = link_to picture_path(picture) do
      = image_tag picture.image
    .caption

      -# .media
      -#   %a{href: "#", class: "pull-left"}
      -#     = image_tag "/images/topImage.jpg", class: "media-object img-circle", alt: "..."
      -#   .media-body
      -#     %h4{class: "media-heading"}ユーザー名

      %p Thumbnail label
      %p ...
      - if picture.tags.present?
        - picture.tags.each do |tag|
          %span.label.label-warning
            = "#{tag.name} (#{tag.taggings_count})"
        - picture.tags.each do |tag|
          %span.label.label-warning
            = "#{tag.name} (#{tag.taggings_count})"


