.page-header
  %h1
    Example page header
    %small Subtext for header
%p#notice= notice
%h1 Pictures
%table
  %thead
    %tr
      %th Image
      %th{:colspan => "3"}
  %tbody
    - @pictures.each do |picture|
      %tr
        %td= picture.image
        %td= link_to 'Show', picture
        %td= link_to 'Edit', edit_picture_path(picture)
        %td= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Picture', new_picture_path
