= render "shared/header"
%p#notice= notice
%p
  %strong Image:
  = image_tag @picture.image
= link_to 'Edit', edit_picture_path(@picture)
|
= link_to 'Back', pictures_path
= link_to "この投稿を削除ooo", "/pictures/#{@picture.id}", method: :delete, class: "btn btn-primary"
